body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 30px;
/*    color: #0D0D0D;*/
    font-style: #0D0D0D;
}

p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}

img {
    width: 250px;
    display: block;
    border: 10px dashed #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-top: none;
    border-left: 5px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    border-right: none;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    color: #C4C4C4;
    border-left: none;
    border-bottom: none;
}


.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-top: none;
    border-right:none;
    border-left: 5px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    color: #707070;
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-left: none;
    border-top: 2px solid #FFFFFF;
    border-bottom: none;
}

footer {
    background: linear-gradient(#000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid #FFFFFF;
}

footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}


